*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
    text-decoration: none;
}
body{
    padding: 10px;
}
h1{
    font-size: 80px;
    color: red;
}
p{
    color: blue;
    line-height: 1.3;
}
a{
    display: block;
    line-height: 80px;
    color: green;
    font-size: 30px;
}
button{
    padding: 10px 20px;
    background-color: yellow;
    width: 200px;
    cursor: pointer;
}
